/.vs/svcClientMonitor/v15/Server/sqlite3/storage.ide
/.vs/svcClientMonitor/v15/Server/sqlite3/storage.ide-shm
/.vs/svcClientMonitor/v15/Server/sqlite3/storage.ide-wal
/.vs/svcClientMonitor/v15/Server/sqlite3
